---
layout: default
---
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  displayAlign: "center",
  displayIndent: "2em",
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  },
  CommonHTML: { matchFontHeight: false }
});
</script>

<div class="blog content_box"> 
  <div class="sidenav"></div>
  <div class="blog content">{{ content }}</div>
</div>

{% if page.tocbot == true %}
<script type="text/javascript">
tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.sidenav',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.container.content',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',

});
</script>

<script type="text/javascript">
  tocbot.refresh();
</script>

<style type="text/css">
.content.container {
  max-width: initial;
  margin: initial;
  padding: 30px;
}
.sidenav{
  position: fixed;
  width: 20%;
  overflow-y: auto;
  max-height: calc(100vh - 9rem);
}
.blog.content{
  position: absolute;
  left: 20%;
  margin-left: 30px;
  margin-right: 30px;
  /*order: 1;*/
}
</style>
{% endif %}